@model ChangePassword
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="ChangePassword" asp-controller="Account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>

                <div class="mb-3">
                    <label asp-for="CurrentPassword" class="form-label">Current Password</label>
                    <input asp-for="CurrentPassword" placeholder="Enter current password" class="form-control" required />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="NewPassword" class="form-label">New Password</label>
                    <input asp-for="NewPassword" placeholder="Enter new password" class="form-control" required />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" placeholder="Confirm new password" class="form-control" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
</div>
