@model EmployeeListEdit
@{
    ViewData["Title"] = "Forgot-Password";
    Layout = "_StaticLayout";
}
<style>
    .card {
        background: #ffffff;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }
</style>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow-lg rounded">
                <h1 class="text-center mb-4">Find your Account</h1>
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                    <div class="form-group mb-4">
                        <label asp-for="EmpEmail" class="form-label">Email Address</label>
                        <input asp-for="EmpEmail" class="form-control" placeholder="Enter your email" />
                        <span asp-validation-for="EmpEmail" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <input class="btn btn-primary w-100" type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
